## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [18]:
country = ['Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Botswana', 'Brazil', 'Denmark', 'Djibouti']
data = {'國家': country,
        '人口': np.random.randint(1000, 5000000, len(country))}
data = pd.DataFrame(data=data)
data

            國家       人口
0      Bahamas  4557072
1      Bahrain  1906335
2   Bangladesh  4006431
3     Barbados  4658844
4      Belarus   440785
5      Belgium  3442333
6       Belize   981582
7        Benin  4387402
8       Bhutan   282102
9      Bolivia  2568724
10    Botswana   549695
11      Brazil  3240540
12     Denmark  2802284
13    Djibouti   510454